@import "../../App.scss";

.menu-main-contaier {
  padding: 60px 20px 0 20px;
  font-family: $primary_font;

  @media all and (min-width: 500px) {
    .menu-main-heading {
      font-size: 36px;
    }
  }
  @media all and (min-width: 900px) {
    .menu-main-heading {
      font-size: 40px;
    }
  }
  .category-menu-list {
    list-style: none;
    padding-left: 0;
    h1 {
      font-family: $secondary_font;
    }
    .each-category-list {
      list-style: none;
      padding-left: 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      .each-menu-item {
        margin-right: 20px;
        margin-bottom: 20px;
        width: 140px;
        border-radius: 10px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
          rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        display: flex;
        flex-direction: column;
        padding: 10px;
        align-items: center;
        text-align: center;
        position: relative;
        .food-label-img {
          width: 25px;
          align-self: flex-start;
        }
        .must-try-dish-img {
          width: 50px;
          position: absolute;
          right: 0;
        }
        .item-img {
          width: 80px;
          height: 80px;
          border-radius: 40px;
        }
        @media all and (min-width: 500px) {
          .item-img {
            width: 100px;
            height: 100px;
            border-radius: 50px;
          }
        }
        @media all and (min-width: 900px) {
          .item-img {
            width: 120px;
            height: 120px;
            border-radius: 60px;
          }
        }
        p {
          margin: 0;
          font-weight: 600;
        }
        .price-rating-container {
          width: 90%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 20px;
          .item-price {
            font-size: 18px;
            font-weight: 500;
          }
          @media all and (min-width: 500px) {
            .item-price {
              font-size: 20px;
            }
          }

          .item-rating-container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 43%;
          }
        }
        .item-quantity-container {
          display: flex;
          align-items: center;
          width: 90%;
          justify-content: space-between;
          .quantity-button {
            width: 30px;
            height: 30px;
            .quantity-item-button {
              width: 30px;
            }
          }
          .item-quantity {
            margin: 0;
            font-size: 20px;
            font-weight: 600;
          }
        }
      }
      @media all and (min-width: 500px) {
        .each-menu-item {
          margin-right: 35px;
          margin-bottom: 35px;
          width: 165px;
          border-radius: 15px;
          padding: 15px;
          .food-label-img {
            width: 35px;
          }
          .must-try-dish-img {
            width: 65px;
          }
          p {
            font-size: 18px;
            margin-top: 5px;
            margin-bottom: 5px;
          }
        }
      }
      @media all and (min-width: 900px) {
        .each-menu-item {
          margin-right: 45px;
          margin-bottom: 45px;
          width: 185px;
          border-radius: 20px;
          padding: 20px;
          .food-label-img {
            width: 45px;
          }
          .must-try-dish-img {
            width: 80px;
          }
        }
      }
    }
    @media all and (min-width: 500px) {
      .each-category-list {
        justify-content: space-evenly;
      }
    }
    @media all and (min-width: 900px) {
      .each-category-list {
        justify-content: space-between;
      }
    }
  }
}

@media all and (min-width: 500px) {
  .menu-main-contaier {
    padding: 80px 40px 0 40px;
  }
}
@media all and (min-width: 900px) {
  .menu-main-contaier {
    padding: 100px 60px 0 60px;
  }
}
