@import "../../App.scss";

.login-main-container {
  background-image: url("../../../public/Assets/Images/Background/login-background-image.png");
  min-height: 90vh;
  background-size: cover;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin-bottom: 25px;

    .website-name {
      font-family: $primary_font;
    }
    @media all and (min-width: 500px) {
      .website-name {
        font-size: 36px;
      }
    }
    @media all and (min-width: 900px) {
      .website-name {
        font-size: 42px;
      }
    }
  }
  @media all and (min-width: 500px) {
    .logo-container {
      margin-bottom: 0;
    }
  }
  .form-main-container {
    background-color: rgba(153, 0, 0, 0.8);
    min-height: 50vh;
    padding: 20px;
    border-radius: 20px;
    min-width: 280px;
    .welcome-back {
      font-family: $secondary_font;
      text-align: center;
      color: $carvings_color;
    }
    @media all and (min-width: 500px) {
      .welcome-back {
        font-size: 28px;
      }
    }
    @media all and (min-width: 900px) {
      .welcome-back {
        font-size: 32px;
      }
    }
    .form-container {
      display: flex;
      flex-direction: column;

      .input-container {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        font-family: $input_font;

        .password-container {
          display: flex;
          align-items: center;
          background-color: #fff;
          padding-right: 10px;
          border-radius: 5px;
          .user-input {
            width: 100%;
          }
          .show-password-icon-button {
            outline: none;
            background-color: transparent;
            cursor: pointer;
            border: none;
            padding: 0;
            height: 25px;
          }
        }
        @media all and (min-width: 500px) {
          .password-container {
            padding-right: 12px;
          }
        }
        @media all and (min-width: 900px) {
          .password-container {
            padding-right: 14px;
          }
        }
        .input-label {
          font-size: 20px;
          font-weight: 700;
          color: #dadada;
          margin-bottom: 10px;
        }
        @media all and (min-width: 500px) {
          .input-label {
            font-size: 22px;
          }
        }
        @media all and (min-width: 900px) {
          .input-label {
            font-size: 24px;
          }
        }
        .user-input {
          padding: 10px;
          border-radius: 5px;
          font-family: $input_font;
          font-size: 16px;
          border: none;
          font-weight: 500;
          outline: none;
          cursor: pointer;
        }
        @media all and (min-width: 500px) {
          .user-input {
            padding: 12px;
            font-size: 18px;
          }
        }
        @media all and (min-width: 900px) {
          .user-input {
            padding: 14px;
            font-size: 20px;
          }
        }
        .error-msg {
          margin-bottom: 0;
          color: #a6ff00;
        }
        @media all and (min-width: 500px) {
          .error-msg {
            font-size: 18px;
          }
        }
        @media all and (min-width: 900px) {
          .error-msg {
            font-size: 20px;
          }
        }
      }
      .login-error-msg {
        margin-top: 0;
        color: #a6ff00;
      }
      @media all and (min-width: 500px) {
        .login-error-msg {
          font-size: 18px;
        }
      }
      @media all and (min-width: 900px) {
        .login-error-msg {
          font-size: 20px;
        }
      }
      .login-button {
        align-self: center;
        @extend .button-style;
        color: $logo_bg_color;
        background-color: $carvings_color;
        box-shadow: inset 0 0 0 0 #00d335;
        transition: background-color 0.8 ease-out;
      }
      .login-button:hover {
        box-shadow: inset 120px 0 0 0 #00d335;
        color: #dadada;
      }
      .register-link {
        align-self: center;
        font-weight: 600;
        font-family: $secondary_font;

        .register-link-button {
          color: #00aaff;
          transition: color 0.3s ease;
          margin-left: 5px;
        }
        .register-link-button:hover {
          font-size: 22px;
          color: #00d335;
        }
      }
      @media all and (min-width: 500px) {
        .register-link {
          font-size: 18px;
        }
      }
      @media all and (min-width: 900px) {
        .register-link {
          font-size: 20px;
        }
      }
    }
  }
  @media all and (min-width: 500px) {
    .form-main-container {
      min-width: 350px;
      padding: 20px;
      border-radius: 25px;
    }
  }
  @media all and (min-width: 900px) {
    .form-main-container {
      min-width: 400px;
      padding: 30px;
      border-radius: 30px;
    }
  }
}

@media all and (min-width: 500px) {
  .login-main-container {
    padding-bottom: 40px;
  }
}

@media all and (min-width: 900px) {
  .login-main-container {
    padding-bottom: 60px;
  }
}
