$primary_font: "Battambang";
$secondary_font: "Croissant One";
$input_font: "roboto";
$spicy_color: #e22c2a;
$cravings_color: #e3a714;
$logo_bg_color: #0a252d;
$theme_color: rgb(68, 142, 64);

body {
  padding: 0;
  margin: 0;
}

.button-style {
  width: 80px;
  font-family: $primary_font;
  font-weight: 600;
  height: 40px;
  border-radius: 4px;
  border: none;
  outline: none;
  cursor: pointer;
  margin-bottom: 20px;
}

.home-navgivate-button {
  background-color: $theme_color;
  padding: 10px 20px;
  border-radius: 30px;
  color: #fff;
  text-decoration: none;
}

.button {
  width: 100px;
  height: 50px;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 5px;
  font-family: $primary_font;
  font-size: 18px;
}

@media all and (min-width: 500px) {
  .button-style {
    width: 100px;
    height: 50px;
    border-radius: 6px;
    font-size: 18px;
  }
}
@media all and (min-width: 900px) {
  .button-style {
    width: 120px;
    height: 60px;
    border-radius: 8px;
    font-size: 20px;
  }
}

.website-logo {
  width: 40px;
  border-radius: 35px;
  margin-right: 20px;
}
@media all and (min-width: 500px) {
  .website-logo {
    width: 50px;
    border-radius: 40px;
  }
}
@media all and (min-width: 900px) {
  .website-logo {
    width: 60px;
    border-radius: 45px;
  }
}

.food-label-img {
  width: 20px;
  align-self: flex-start;
}
@media all and (min-width: 500px) {
  .food-label-img {
    width: 24px;
  }
}

@media all and (min-width: 500px) {
  .food-label-img {
    width: 28px;
  }
}
